.Contract__content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.Contract__content > * {
  flex-grow: 1;
}

.Contract__or {
  padding: 0 20px;
  text-align: center;
}
