.Line {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}

.Line > * {
  margin-top: var(--default-margin);
}

@media (min-width: 640px) {
  .Line {
    flex-direction: row;
    margin: var(--default-margin) 0;
  }

  .Line > * {
    margin-top: 0;
    margin-left: var(--default-margin);
    flex-grow: 1;
  }
}
.Line > *:first-child {
  margin-left: 0;
}
