@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Telegraf';
  src: url('/fonts/TelegrafRegular_272984568a25d8528fe2de8b20b29011.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TelegrafBold';
  src: url('/fonts/Telegraf UltraBold 800.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TelegrafLight';
  src: url('/fonts/Telegraf UltraLight 200.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
