.ContractAddress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.ContractAddress label {
  white-space: nowrap;
  padding-right: 20px;
}
.ContractAddress > div {
  max-width: 560px;
}
.ContractAddress button {
  margin-top: 20px;
}

.ContractAddress__actions {
  display: flex;
}

.ContractAddress__actions button {
  margin-right: 20px;
}
