.Title {
}

.Title__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Title h1 {
  margin: 0;
  display: flex;
  align-items: center;
}

.Title h1 img {
  margin-right: 20px;
}

.Title a {
  text-decoration: none;
}

.Title__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.Title__right > * {
  margin: 0 15px;
}

@media (min-width: 640px) {
  .Title__content {
    flex-direction: row;
  }
  .Title__right {
    justify-content: flex-end;
    margin-top: 0;
  }
}
